*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: system-ui;
}
body{
    min-height: 100svh;
    background-color: rgb(24, 24, 24);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
    align-items: center;
    justify-items: center;
}
.search{
    display: flex;
    --border-radius: 95px;
    justify-self: center;
    width: min(100vw,512px);
}
.search-input, .search-button{
    height: 80px;
    border: none;
}
.search-button{
    padding: 0px 50px 0px 50px;
    font-size: 24px;
    background-color: rgb(0, 195, 255);
    color: rgb(0, 56, 94);
}
.search-input{
    font-size: 25px;
    padding-left: 35px;
    min-width: 0px;
    flex-grow: 1;
}
.search  :first-child{
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
.search :last-child{
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.search-button:hover{
    background-color: rgb(255, 119, 0);
    color:  rgb(146, 53, 0);
    transition-property: background-color;
    transition: 0.2s;
    cursor: pointer;
}
.search-button:disabled{
    cursor: default;
    opacity: 0.5;
    background-color: white;
    color: black;
}
.gif-container{
    width: min(100vw,512px);
    height: 512px;
    background-color: rgb(32, 32, 32);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}
.gif{
    width: 100%;
}
.loading{
    color: white;
}
.hidden{
    display: none;
}