*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: system-ui;
}
body{
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 24, 24);
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.search{
    display: flex;
    --border-radius: 95px;
}
.search-input, .search-button{
    height: 80px;
    border: none;
}
.search-button{
    padding: 0px 50px 0px 50px;
    font-size: 24px;
}
.search-input{
    min-width: 650px;
    font-size: 35px;
    padding-left: 35px;
}
.search  :first-child{
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
.search :last-child{
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.search-button:hover{
    background-color: rgb(255, 119, 0);
    color:  rgb(146, 53, 0);
    transition-property: background-color;
    transition: 0.2s;
    cursor: pointer;
}
.gif-container{
    --size: 512px;
    height: var(--size);
    min-width: var(--size);
    width: fit-content;
    background-color: rgb(32, 32, 32);
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gif{
    height: 100%;
}
.loading{
    color: white;
}
.hidden{
    display: none;
}